.flexible-middle-width .content-wrap {
  width: 100%!important;
  min-width: 0;
}
.crm-webform-body {
  padding: 0!important;
}
.crm-webform-inner-header {
  font: 12px "PT Sans",sans-serif;
}
.flexible-middle-width .content-wrap {
  padding: 0;
}
.crm-webform-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.crm-webform-header-container {
  padding: 0;
}
.crm-webform-header {
  font: bold 18px "PT Sans",sans-serif;
}
