.popup-overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  display: none;
  z-index: 1000;

  .popup-form{
    margin: auto;
    top: 20%;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    animation: formBlockAnim 0.3s 1 linear;
    z-index: 9999;
    &__notification{
      text-align: center;
      font-size: 20px;
      color: white;
      border: 1px solid #368142;
      padding: 5px 6px;
      background-color: #5cb860;
      border-radius: 5px;
      animation: notifAnimation 0.3s 1 linear;
      &--error{
        background-color: #e53835;
      }
    }
    &__close{
      position: absolute;
      top: 0px;
      right: 10px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: rgb(199, 29, 26);
      cursor: pointer;
      font-family: $headers-font-bold;
      transition: color 0.3s ease-in-out;
      &:hover{
        color: black;
      }
    }
    p{
      font-family: $headers-font-regular;
      font-size: 20px;
      text-align: center;
    }
    span{
      color: rgb(199, 29, 26);
    }
    input[type="text"]{
      border-width: 2px;
      padding: 10px 12px;
      height: 44px;
      border-radius: 5px;
      line-height: 20px;
    }
    textarea{
      border-width: 2px;
      height: 90px;
    }
    input[type="submit"] {
      display: block;
      width: 70%;
      margin: 15px auto 0 auto;
    }
  }

  .popup-fullcase{
    margin: auto;
    top: 100px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    transition: all 5s ease-in-out;
    animation: fullcaseAnim 0.3s 1 linear;
    z-index: 9999;
    width: 98%;
    .slick-prev{
      z-index: 1;
      left: -35px;
      &::before{
        font-family: FontAwesome;
        content: '\F104';
        color: black;
      }
    }
    .slick-next{
      z-index: 1;
      right: -35px;
      &::before{
        font-family: FontAwesome;
        content: '\F105';
        color: black;
      }
    }
    &__close{
      position: absolute;
      z-index:1;
      top: -10px;
      right: 10px;
      transition: all 200ms;
      font-size: 50px;
      font-weight: bold;
      text-decoration: none;
      color: rgb(199, 29, 26);
      cursor: pointer;
      font-family: $headers-font-bold;
      transition: color 0.3s ease-in-out;
      &:hover{
        color: black;
      }
    }
    img{
      width: 100%;
    }
  }
}

/*Slider popup*/
.popup-slider-overlay {
  @extend .popup-overlay;
  overflow-y: scroll;
  .popup-slider{
    margin: auto;
    top: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    transition: all 5s ease-in-out;
    animation: fullcaseAnim 0.3s 1 linear;
    z-index: 9999;
    width: 100%;
    &__close{
      position: absolute;
      top: 0px;
      right: 10px;
      transition: all 200ms;
      font-size: 40px;
      font-weight: bold;
      text-decoration: none;
      color: rgb(199, 29, 26);
      cursor: pointer;
      font-family: $headers-font-bold;
      transition: color 0.3s ease-in-out;
      z-index: 1;
      &:hover{
        color: black;
      }
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
}
/**************/

/*@media screen and (min-width: 1367px) and (max-width: 1500px){
  .popup-overlay {
  .popup-form{
    input[type="submit"] {
      width: 70%;
    }
  }
    .popup-fullcase{
      width: 70%;
    }
  }

  .popup-slider-overlay{
    .popup-slider{
      width: 50%;
    }
  }

}

@media screen and (min-width: 1200px) and (max-width: 1366px){
  .popup-overlay {
    .popup-form{
      input[type="submit"] {
        width: 70%;
      }
    }
    .popup-fullcase{
      width: 70%;
      top: 25px;
    }
  }

  .popup-slider-overlay{
    .popup-slider{
      width: 50%;
    }
  }

}

@media screen and (min-width: 1024px) and (max-width: 1199px){
  .popup-overlay {
    .popup-form{
      input[type="submit"] {
        width: 80%;
      }
    }
    .popup-fullcase{
      width: 80%;
    }
  }

  .popup-slider-overlay{
    .popup-slider{
      width: 60%;
    }
  }

}*/

@keyframes popupAnimOpen {
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes popupAnimClose {
  from{opacity: 1;}
  to{opacity: 0;}
}

@keyframes formBlockAnim {
    from{top: -100px;}
    to{top: 30%;}
}

@keyframes fullcaseAnim {
  from{top: -100px;}
  to{top: 100px;}
}

@keyframes notifAnimation {
  from{opacity: 0;}
  to{opacity: 1;}
}

