.wdyg{
  @extend .guarantees;
  margin: 0;
  padding: 40px;
  color: white;
  background-image: radial-gradient(rgb(33, 33, 33) 0%, black 100%);
  color: rgb(255, 255, 255);
  &-info{
    @extend .guarantees-info;
    margin-top: 39px;
    &__item{
      @extend .guarantees-info__item;
      h4{
        width: 106%;
      }
      width: 23%;
      img{
        width: 108px;
        height: 108px;
      }
      &:last-child{
        p{
          width: 108%;
        }
      }
    }
  }
  &__title{
    @extend .work-stages__title;
    color: white;
  }
  .btn-block{
    margin: 60px 0 0 0;
  }

}